body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  overflow: hidden;
}

.article {
  width: 100%;
  max-width: 45vw;
  overflow-y: scroll;
  cursor: pointer;
  padding: 0 3vh 1vh;
  background: white;
  position: absolute;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));
  animation: fadeShadow 1s ease-in-out forwards;
}

@keyframes fadeShadow {
  from {
    border: 2px solid greenyellow;
  }
  to {
    border: 2px solid rgba(255, 255, 255, 0);
  }
}

.full {
  height: 80vh;
}

.current {
  filter: drop-shadow(2px 4px 6px black)
    drop-shadow(2px 4px 6px rgba(234, 255, 0, 0.45));
}

.article-header {
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 1vh;
  z-index: 1;
}

.article-header:not(#article-header-0) {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#article-0 {
  filter: none;
  height: 100vh;
}

#menu {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 39vh;
  display: flex;
  flex-direction: column-reverse;
  pointer-events: none;
  z-index: 10000000;
  backdrop-filter: blur(2px);
}

#log {
  width: 35vh;
  height: 35vh;
  background-color: rgba(0, 0, 0, 0.656);
  color: white;

  padding: 2vh 2vh 0;
  font-family: "Helvetica";
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  overflow-y: scroll;
  pointer-events: all;
}

.log-article {
  color: rgb(70, 132, 255);
  pointer-events: all;
  text-decoration: none;
}

.log-entry {
  font-size: 1.6vh;
  padding-bottom: 1vh;
}

.red {
  color: red;
}

.purple {
  color: #551a8b;
}

.progress-container {
  width: 38vh;
  padding-bottom: 0.5vh;
}

.progress {
  height: 2vh;

  border: 2px solid black;
  background-color: #ffffff;
}

.progress-inner {
  background-color: rgb(116, 255, 137);
  height: 100%;
}

.progress-text {
  width: 100%;
  text-align: right;
  padding-bottom: 0.5vh;
  padding-right: 3vh;
}

.shop {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 2vh;
  width: 38vh;
}

.shop-card {
  background-color: white;
  border: 2px solid black;
  margin-bottom: 2vh;
  padding: 1vh 2vh;
  text-align: right;
  font-size: 1.65vh;
  pointer-events: all;
}

.disabled {
  background-color: rgb(208, 208, 208);
  color: rgb(81, 81, 81);
  border: 2px solid rgb(151, 151, 151);
}

.shop-card:hover:not(.disabled) {
  background-color: rgb(248, 248, 248);
}

.shop-text {
  padding-bottom: 0.3vh;
}

.shop-card-title {
  font-weight: bold;
}

.quest-highlight {
  color: rgb(140, 225, 12);
}

.quest {
  padding-bottom: 2vh;
}
